body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.auth-container {
  text-align: center; /* Центрирование содержимого */
}

.logo-container {
  margin-bottom: 20px; /* Отступ снизу для логотипа */
}

.auth-card {
  display: inline-block; /* Для центрирования карточки */
  margin: 0 auto; /* Автоматические отступы справа и слева */
  padding: 20px; /* Отступы внутри карточки */
}
